.container {
    width: 80%;
    margin: auto;
}

.cart-container {
    background-color: gainsboro;
    height: 700px;
    width: 80%;
    border: 5px solid darkgray;
    border-radius: 25px;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}

.goods-container
{
    background-color: whitesmoke;
    height: 60px;
    width: 85%;
    border: 2px solid darkgray;
    border-radius: 15px;
    padding: 8px;
    margin: 8px auto;
    text-align: center;
}

.bill-container
{
    height: 60px;
    width: 85%;
    border-radius: 15px;
    padding: 8px;
    margin: 8px auto;
    text-align: center;
}

.bill-container .price
{
    font-size: 36px;
    float: left;
}

.bill-container button
{
    float: right;
    width: 120px;
    height: 55px;
    border-width: 0;
    border-radius: 3px;
    background-color: #666666;
    cursor: pointer;
    font-family: Chalkboard, serif;
    color: white;
    font-size: 24px;
    margin: auto;
}


.goods-container .img
{
    width: 240px;
    height: 240px;
    bottom: 20px;
    right: 10px;
}

.goods-container .goods
{
    font-size: 36px;
    float: left;
}

.goods-container .count
{
    font-size: 36px;
    float: right;
}