.container {
    width: 80%;
    margin: auto;
}

.order-container {
    background-color: gainsboro;
    height: 650px;
    width: 80%;
    border: 5px solid darkgray;
    border-radius: 25px;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}

.goods-container
{
    background-color: whitesmoke;
    height: 80px;
    width: 85%;
    border: 2px solid darkgray;
    border-radius: 15px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    font-size: 21px;
}

.order-container button
{
    width: 150px;
    height: 50px;
    border-width: 0;
    border-radius: 3px;
    background-color: #666666;
    cursor: pointer;
    font-family: Chalkboard, serif;
    color: white;
    font-size: 24px;
    margin: 10px auto;
}